<!DOCTYPE html>
<html lang="en">
<head>

<title>Stateographer</title>
<link href="dist/css/bootstrap.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="js/stateographer.js"></script>
<script src="js/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<style>
	
	.node {
		cursor: pointer;
	}

	.node rect {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
    </style>

</head>

<body ng-app="stateographer">

	<div class="container">

		<div class="header-bar-wrap" ng-controller="HistoryController">

			<div ng-repeat="entry in history track by $index">
				<div class="header-item left" ng-if="entry.params.length < 2">
						<a href="#">{{ entry.state.name || '&lt;root&gt;' }}</a>
				</div>

				<div class="header-item left" uib-dropdown on-toggle="toggled(open)" ng-if="entry.params.length > 1">
					<a href id="simple-dropdown" uib-dropdown-toggle>
						{{ entry.state.name }}
					</a>
					<ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
						<li ng-repeat="p in entry.params">
							<a href>{{ p }}</a>
						</li>
					</ul>
				</div>
			</div>

			
		<div class="row">

			<div class="col1">

				<div class="side-panel">

					<p>Side panel</p>

				</div>

			</div>
			<!--end col1 -->


			<div class="col2">

				<div class="row">

					<div class="main-panel">

					</div>

				</div>

				<hr>

				<div class="row">

					<div class="items-wrap">

						<div class="item-col">

							<h3>Heading1</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

						<div class="item-col">

							<h3>Heading 2</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

						<div class="item-col">

							<h3>Heading 3</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

					</div>
					<!--end items wrap -->

				</div>
				<!--end first row of items -->

				<div class="row">

					<div class="items-wrap">

						<div class="item-col">

							<h3>Heading1</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

						<div class="item-col">

							<h3>Heading 2</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

						<div class="item-col">

							<h3>Heading 3</h3>
							<ul>
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>

						</div>

					</div>
					<!--end items wrap -->

				</div>
				<!--end second row of items -->


			</div>
			<!--end col2 -->

		</div>

	</div>
	<!--end container -->

	<footer class="footer">
		<div class="container">
			<p class="text-muted">
				<a ui-sref="home">Home</a> |
				<a ui-sref="home.messages.inbox.view({ message: 5 })">Message 5</a> |
				<a ui-sref="home.messages.inbox.view({ message: 10 })">Message 10</a> |
				<a ui-sref="home.profile.edit">Edit Profile</a> |
				<ui-view />
			</p>
		</div>
	</footer>

  </body>
</html>